<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea un nuovo account</title>

    <link rel="stylesheet" th:href="@{/css/authpage.css}">

</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main class="main-auth">

        <div class="auth-container">
            <form th:action="@{/login}" method="POST">
                <h1 class="brand-title">Pugliamare</h1>
                <p class="subtitle">Benvenuto! Crea un nuovo account.</p>
                <!--Prima parte: Info basiche per fare il login-->
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="email" id="username" name="username" placeholder="&#9993; Inserisci l'email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="&#x1F512;&#xFE0E; Inserisci password" required>
                    <input type="password" id="passwordconf" name="passwordconf" placeholder="&#x1F512;&#xFE0E; Conferma password" required>
                </div>

                <!--Seconda Parte: Info Personali-->
                <div class="form-group">
                    <label for="informazioni-personali">Informazioni personali</label>
                    <input type="text" id="nomeutente" name="nomeutente" placeholder="Inserisci nome" required>
                    <input type="text" id="cognomeutente" name="cognomeutente" placeholder="Inserisci cognome" required>
                    <input type="date" id="datanascita" name="datanascita" placeholder="Inserisci la tua data di nascità" required>
                </div>

                <button type="submit" class="btn-primary">Registrati &rarr;</button>
            </form>
        </div>

    </main>
    <footer>

    </footer>
</body>
</html>